<%- include ("header.ejs")%>

<section id="banner" class="pt-5 pb-5">
    <div class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis" style="background-color: #000;">
            <div class="col-lg-6 px-0">
                <h1 class="display-4 fst-italic text-capitalize text-white">Blogs The Necessity</h1>
                <p class="lead my-3 text-white">wjndkjwkvkbj</p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row" role="listbox">
                <%postsFound.forEach(function(post){%>
                <div class="col-md-3 p-3">
                    <div class="card">
                        <img src="/influencer.svg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr class="hr hr-blurry position-relative" style="width: 16rem;" />
                            <h5 class="card-title"><%=post.title%></h5>
                            <p class="card-text"><%=post.content%></p>
                            <a href="/Blogs/<%=post._id%>" class="btn btn-dark">Read More!</a>
                        </div>
                    </div>
                </div>
                <%});%>
            </div>
        </div>
        <hr>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-lg">
              <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&laquo;</span></a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
          </nav>
    </div>
</section>

<%- include ("footer.ejs")%>